---
export interface Props {
  isDark?: boolean;
}

const { isDark = false } = Astro.props;
---

<div class:list={['absolute inset-0 bg-card dark:bg-card-dark', { 'bg-card': !isDark, 'bg-card-dark': isDark }]}>
  <slot />
</div>
